<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/icon.ico" rel="icon" type="image/x-icon">
</head>
<body>
    <p>Hello World</p>
    <form action="#">
        <button id="insert_user" type="button">添加用户</button>
    </form>
    <table id="data-table">
      <thead>
        <tr>
          <th>Key1</th>
          <th>Key2</th>
          <th>key3</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <!-- 数据将显示在这里 -->
      </tbody>
    </table>
<button id="refreshButton">刷新数据</button>
</body>
<script src="../static/js/connect.js" type="module"></script>
</html>