<!DOCTYPE html>
<html lang="en">
<head>
    <title>地图数据编辑器</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 加载高德地图API -->
    <link href="../static/icon.ico" rel="icon" type="image/x-icon">
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=f4b0954e7374b232ec9b81691ba06728"></script>
</head>
<body>

<div id="map-container">
    <!-- 显示地图的容器 -->
    <div id="map" style="width: 600px; height: 400px;"></div>
</div>

<div id="table-container">
    <!-- 数据列表 -->
    <table id="data-table">
        <!-- 表头 -->
        <tr>
            <th>ID</th>
            <th>经度</th>
            <th>纬度</th>
            <th>选择</th>
            <th>操作</th>
        </tr>
        <!-- 数据行，通过JS动态生成 -->
    </table>
</div>

<!-- 添加新行的按钮 -->
<button id="add-top">在顶部添加行</button>

<!-- 提交数据按钮 -->
<button id="submit-data">提交数据</button>

<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>